<div class="max-w-3xl mx-auto px-4">
  <%= link_to :back, class: "text-cyan-500" do %>
    <i class="fas fa-chevron-left mr-3"></i>Back
  <% end %>
  <div class="flex items-center justify-between mt-4">
    <h1 class="font-bold text-3xl mb-6">Create a booking type</h1>
    <% if current_hospital.booking_link? %>
      <%= link_to "View live page", hospital_path(booking_link: current_hospital.booking_link), class: "text-gray-700 underline" %>
    <% end%>
  </div>

  <%= render 'form', booking_type: @booking_type %>
</div>
