<div class="form-floating mb-3">
  <%= f.text_field :private_health_fund, autocomplete: "private_health_fund", id: "floatingPrivateHealthFund", class:"form-control", placeholder: "" %>
  <label for="floatingPrivateHealthFund">Private Health Fund</label>
</div>

<div class="form-floating mb-3">
  <%= f.text_field :private_health_fund_number, autocomplete: "private_health_fund_number", id: "floatingPrivateHealthFundNumber", class:"form-control", placeholder: "" %>
  <label for="floatingPrivateHealthFundNumber">Private Health Fund Number</label>
</div>
